  <header>
    <h1 class="headline">
    	<a href="index.html">Messi's diary</a>
    </h1>
    <div class="social">
    	<li class="fa fa-facebook-square"></li>
    	<li class="fa fa-twitter-square"></li>
    	<li class="fa fa-instagram"></li>
    </div>
    <nav>
      <ul class="nav-list">
        <li class="nav-list-item"><a href="index.html"> Home</a>
        </li>
        <li class="nav-list-item">About</li>
        <li class="nav-list-item">Topic</li>
      </ul>
    </nav>
  </header>
   <div class="main-visual">
     <div class="main-visual-content">
     	 <p class="main-visual-text">
     	 	Kousuke IIYAMA is a man <br>
     	 	who definetly make this fuckin mess up world <br>
     	 	easy and more interesting for losers.
     	 </p>
     	 <p class="main-visual-name">
     	 	Kousuke IIYAMA
     	 </p>
     </div>
   </div>

   <main class="clearfix">
     <section class="blog">
      <h2 class="blog-headline">Recent Blogs</h2>
      <div class="blog-box">
        <% @blogs.each do |blog| %>
          <div class="blog-item clearfix">
            <div class="blog-image"></div>
              <section class="blog-text">
                <h3 class="blog-text-headline"><%= link_to blog.title, blog_path(blog) %></h3>
                <p class="blog-date"><%= blog.created_at %></p>
                <span class="category"><%= blog.category %></span>
              </section>
            </div>
          </div>
        <% end %>
      </div>
     	  <div class="pagination">
     	  	<p><<</p>
     	  	<p><</p>
     	  	<p>1</p>
     	  	<p>2</p>
     	  	<p>3</p>
     	  	<p>></p>
     	  	<p>>></p>
     	  </div>
     	  </div>
     </section>

     <div class="sidebar">
     	<div class="sidebar">
      <section class="popular">
        <h2 class="sidebar-headline">Popular</h2>
        <div class="sidebar-contents">
          <p class="popular-text">To solve old problems,<br>study new species</p>
          <p class="popular-text">Why Meshiyama likes ramen?<br>sooner being fat.</p>
          <p class="popular-text">What will Meshiyama look<br>like in 100 years?</p>
          <p class="popular-text">How to progress your<br>programming skils.</p>
          <p class="popular-text">How we could evolve<br>to be a influencer.</p>
        </div>
      </section>
      <section class="instagram">
        <h2 class="instagram-headline">Instagram</h2>
        <div class="sidebar-contents clearfix">
          <div class="instagram-box"></div>
          <div class="instagram-box"></div>
          <div class="instagram-box"></div>
          <div class="instagram-box"></div>
          <div class="instagram-box"></div>
          <div class="instagram-box"></div>
        </div>
      </section>
      <section class="categories">
        <h2 class="categories-headline">Categories</h2>
        <div class="sidebar-contents">
          <p class="categories-text">Technology(15)</p>
          <p class="categories-text">Business(23)</p>
          <p class="categories-text">Entertainment(12)</p>
          <p class="categories-text">AV(32)</p>
          <p class="categories-text">Education(9)</p>
          <p class="categories-text">Adventure(23)</p>
          <p class="categories-text">Communication(14)</p>
        </div>
      </section>
    </div>

     </div>
   </main>

   <footer>
     <p class="footer-text">@ All rights recerved by Kosuke IIYAMA</p>
   </footer>


</body>
</html>
